@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/PingFangSC/PingFangSC-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/PingFangSC/PingFangSC-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/PingFangSC/PingFangSC-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/PingFangSC/PingFangSC-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/PingFangSC/PingFangSC-Semibold.woff2') format('woff2');
}

@layer utilities {
  .font-thin {
    font-weight: 200;
  }
  .font-light {
    font-weight: 300;
  }
  .font-regular {
    font-weight: 400;
  }
  .font-medium {
    font-weight: 500;
  }
  .font-semibold {
    font-weight: 600;
  }
  .custom-bg {
    background-image: url('../public/images/JoinUs/orange_lace.webp');
    background-repeat: no-repeat;
  }
  .line-bg {
    background-image: url('../public/images/JoinUs/line.webp');
  }
  .text-stroke {
    -webkit-text-stroke: 1px #0030ae; /* 描边宽度和颜色 */
  }
  .text-stroke-secondary {
    -webkit-text-stroke: 1px #85a2ee; /* 描边宽度和颜色 */
  }
  .text-stroke-tertiary {
    -webkit-text-stroke: 0.5px #ffffff; /* 描边宽度和颜色 */
  }
  .text-stroke-quaternary {
    -webkit-text-stroke: 3px #ffffff; /* 描边宽度和颜色 */
  }
  .text-stroke-fifth {
    -webkit-text-stroke: 0.5px #888a90;
  }
  .text-stroke-sixth {
    -webkit-text-stroke: 0.5px #000000;
  }
}

@theme {
  --font-PingFangSC: 'PingFang SC', sans-serif;
  --color-font-primary: #0030ae;
  --color-blue-primary: #0030ae;
  --color-font-scendary: #6476a7;
  --color-font-tertiary: #d9d9d9;
  --color-font-quaternary: #ff6a00;
  --color-font-quinary: #85a2ee;
  --color-b-primary: #3359be;
  --color-b-secondary: #191a1e;
  --color-b-tertiary: #111111;
  --color-border-primary: #efefef;
  --tracking-widest: 0.25em;
}
